@font-face {
  font-family: 'CeraPro';
  src: url('../../fonts/CeraPro-Regular/cera_pro_regular.eot');
  src: url('../../fonts/CeraPro-Regular/cera_pro_regular.eot?iefix') format('eot'),
  url('../../fonts/CeraPro-Regular/cera_pro_regular.woff') format('woff'),
  url('../../fonts/CeraPro-Regular/cera_pro_regular.ttf') format('truetype'),
  url('../../fonts/CeraPro-Regular/cera_pro_regular.svg#webfont') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('../../fonts/CeraPro-Medium/cera_pro_medium.eot');
  src: url('../../fonts/CeraPro-Medium/cera_pro_medium.eot?iefix') format('eot'),
  url('../../fonts/CeraPro-Medium/cera_pro_medium.woff') format('woff'),
  url('../../fonts/CeraPro-Medium/cera_pro_medium.ttf') format('truetype'),
  url('../../fonts/CeraPro-Medium/cera_pro_medium.svg#webfont') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('../../fonts/CeraPro-Bold/cera_pro_bold.eot');
  src: url('../../fonts/CeraPro-Bold/cera_pro_bold.eot?iefix') format('eot'),
  url('../../fonts/CeraPro-Bold/cera_pro_bold.woff') format('woff'),
  url('../../fonts/CeraPro-Bold/cera_pro_bold.ttf') format('truetype'),
  url('../../fonts/CeraPro-Bold/cera_pro_bold.svg#webfont') format('svg');
  font-weight: 700;
  font-style: normal;
}